<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>

<body>
    <h1>Dear {{ name }},</h1>
    <p> I hope you're doing well</p>
    <p>Here's your today's daily task log attached with this mail</p>

    <p>with regards,</p>
    <p>Task management system</p>

</body>

</html>